<!doctype HTML>
<html>
  <head>
    <title>
      canva
    </title>
  </head>
  <body>
    <canvas id = "myCanvas" width = 800 height = 400>Not visible?</canvas>
    <br>
    <script>
      let canvas = document.getElementById("myCanvas");
      let ctx = canvas.getContext("2d");
      var tracking = false;
      function myFunction() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
      }
      var mouseX;
      var mouseY;
      canvas.addEventListener("mousedown", function(event) {
        tracking = true;
        });
      canvas.addEventListener("mouseup", function(event){
        tracking = false;
      });
      canvas.addEventListener("mousemove", function(event) {
        var rect = canvas.getBoundingClientRect();
      if(tracking == true){
        ctx.beginPath();
        ctx.moveTo(mouseX,mouseY);
        ctx.lineTo(event.clientX - rect.left, event.clientY - rect.top);
        ctx.stroke();
        console.log(`Mouse Pos: (${mouseX}, ${mouseY})!`);
      }
      mouseX = event.clientX - rect.left;
      mouseY = event.clientY - rect.top;
      });

    </script>
    <button onclick = "myFunction()">Clear</button>
  </body>
</html>
